@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Raleway:300,800);

html {	text-transform:lowercase; }

u { /* i've cheated with <u>. i wanted to ensure that only links bore underlines. */ 
	text-transform: none; text-decoration:none; }
em { font-style:italic; }
strong, b { font-weight:bold; }

hr {
	border:none; 
	/* "border:none;" to eliminate the default "border: 1px inset;" attribute, 
	as explained in: http://www.w3.org/TR/CSS2/sample.html */
	border-top:#CCC dashed 1px;
	margin: /*3em*/ 0;
	padding:0;
}


/* ************************************************** */


body {
	margin:0; padding:0; /* ?because defaults may not be consistent across browsers */
	margin: 0 auto; width: 100%; text-align: center; /* to centre the content (PS. need ALL these specifications) */
	background: white;
	font: 125% 'Raleway', Helvetica, Arial, sunya, sans-serif;
	color: #555;
	line-height: 1.4em;
	height: 100%;
}

#container {
	margin: 0 auto; max-width: 90%; text-align:center; /* to centre the content (PS. need ALL these specifications) */
}

.bx {
	text-align: left; /* to counter the "text-align:center;" in its parent div(s) */
	margin: /*2.5em auto*/ 3em auto;
	max-width: 40em;
	background: none;
}
.bx:first-of-type {
	margin-top:5em;
	margin-bottom:3em;
}

p {
	font-weight: 300;
	font-size:1.7em;
	line-height: 1.2em;
	margin-top: 1em ;
	margin-bottom:.5em;
	padding: 0 5% 0 0;
}


/* ************************************************** */

img {
	display:block;
	width:100%;
	background:#fff;
	margin: 0 auto;
}
img.addBorder { margin-left:-.1em; margin-right:-.1em; border: #DDD solid .1em;  }

iframe.video {
	display:block;
	width: 100%; /*instead of 426.6875px for the 40em available*/ height:450px; /* this is an ugly way to do it, but what-to-do?! i must maintain the video player's ratio at: 1.78 */
	margin: 0 auto;
}

iframe.processing {
	display:block;
	margin:2em 0;
	border: #DDD solid .1em;
}

/* ************************************************** */


a { text-decoration: underline; color:inherit; }
a:link {} 
a:visited {}
a:hover { text-decoration:none; background:#777; color:#fff; }
a:active { background: #222; color:#fff;}

a, .localLink {
	background:#eee;
	padding: 0 .125em; 
	border-bottom: #777 dotted 1px; 
	text-decoration:none;
}